<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authentication</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <nav>
    <!-- Put links that you want to display at all times
         outside of the if/else 
    -->
   

    <div>
      <a href="/">HOME</a>
      <% if (user && user.role === 'dj') { %>
        <span>Welcome, <%= user.username %></span> 
        <a href="/bookings">View Bookings</a>&nbsp;&nbsp;
        <a href="/djDashboard">My Dashboard</a>&nbsp;&nbsp;
        <a href="/profile/view">View My Profile</a>&nbsp;&nbsp;
        <a href="/profile/edit">Edit Profile</a>&nbsp;&nbsp;
        <a href="/auth/logout">LOG OUT</a>&nbsp;&nbsp;
      <% } else if (user && user.role === 'client') { %> 
        <span>Welcome, <%= user.username %></span> 
        <a href="/djs">Check Out Our DJ's</a>&nbsp;&nbsp;
        <a href="/bookings">View Bookings</a>&nbsp;&nbsp;
        <a href="/bookings/new">Request A DJ</a>&nbsp;&nbsp;
        <a href="/clientDashboard">My Dashboard</a>&nbsp;&nbsp;
        <a href="/profile/view">View My Profile</a>&nbsp;&nbsp;
        <a href="/profile/edit">Edit Profile</a>&nbsp;&nbsp;
        <a href="/auth/logout">LOG OUT</a>&nbsp;&nbsp;
      <% } else { %>  
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/login">LOG IN</a> 
      <% } %>
      </div>
  </nav>
  <main>

