body {
  background-color: #191414; /* Dark background */
  color: #FFFFFF; /* White text */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #FF007F; /* Vibrant Pink */
  text-decoration: none;
}

a:hover {
  color: #1DB954; /* Spotify Green */
}

