<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Booking</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>
  <h1>Create a New Booking</h1>
  <form action="/bookings" method="POST">
    
    <label for ="dj_id">SELECT DJ:</label>
    <select name="dj_id" required>
      <% if (djs && djs.length > 0) { %>
      <% djs.forEach(dj => { %>
        <option value="<%= dj._id %>"><%= dj.username %></option>
     <% }); %>
     <% } else { %>
      <option value="">No Djs Available</option>
    <% } %>
    </select>


    <label for="event_date">Event Date:</label>
    <input type="datetime-local" name="event_date" required>

    <label for="location">Location:</label>
    <input type="text" name="location" required>

    <label for="total_hours">Total Hours:</label>
    <input type="number" name="total_hours" required>

    <label for="notes">Notes:</label>
    <textarea name="notes"></textarea>

    <button type="submit">Create Booking</button>
  </form>
  <%- include('../partials/footer.ejs') %>
</body>

</html>